@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Source+Code+Pro:wght@200;700;800;900&display=swap');
@import url('table.css');

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
}
body{
	background-color: black;
	color: white;
}
.fixed{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	background-color: #3EAFF8;
}
.fixed a:hover{
	color: black;
}
.button__container{
	margin-bottom: 1rem;
	padding-right: 5rem;
	line-height: 0;
	letter-spacing: 0;
	text-align: right;
}
.button{
	margin: 0;
	height: 1.3rem;
	width: 1.3rem;
	border-radius: 1.3rem;
	border: solid white;
}
.button:hover{
	cursor: pointer;
	opacity: .6;
}
.button__en{
	background-image: url(../img/en.svg);
}
.button__rus{
	background-image: url(../img/rus.svg);
}
p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-indent: 3rem;
	font-size: 1rem;
	line-height: 3rem;
	text-align: justify;
}
.main p:first-child{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	font-weight: 600;
	padding-bottom: 3rem;
	text-align: center;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	color: #3EAFF8;
}
i{
	font-size: 1.5rem;
	padding-right: 0.5rem;
}
.header{
	text-align: center;
}
.header__menu{
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__title{
	font-family: 'Open Sans', sans-serif;
	padding-top: 5rem;
	font-weight: 700;
	font-size: 3rem;
	letter-spacing: 0.8rem;
	text-transform: uppercase;
}
.header__link{
	font-family: 'Open Sans', sans-serif;
	padding: 1rem 2rem;
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: 0.5rem;
}
.main{
	display: flex;
}
.main__about{
	display: flex;
	flex-direction: column;
	padding: 5% 8% 10% 8%;
}
.main__photo{
	height: 45rem;
}
.main__photo_small{
	display: none;
}
.main__container{
	padding: 5% 5% 10% 0;
}
.collection{
	text-align: center;
	height: 100%;
	width: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../img/me2.jpg);
	background-position: center top;
}
.collection__container:before{
	display: block;
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-color: black;
	opacity: .3;
}
.collection__container{
	height: 35rem;
	max-width: 100rem;	
	position: relative;
	z-index: 2;
}
.collection__title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 5rem;
	letter-spacing: 1.2rem;
	text-transform: uppercase;
}
.collection__subtitle{
	position: absolute;
	bottom: 2%;
	left: 50%;
	transform: translate(-50%, 0);
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: 0.5rem;
}
.collection__cards{
	padding: 3% 0;
	background-color: black;
	height: auto;
}
.collection__line{
	display: flex;
	justify-content: center;
}
.card{
	position: relative;
	height: 15rem;
	width: 15rem;
	margin: 2rem;
}
.card:hover{
	transition: 1.3s;
	transform: scale(1.5,1.5);
}
.card__name{
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	text-align: center;
}
.card__link{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
.card__image{
	border-radius: 0.5rem;
	height: 15rem;
	width: 15rem;
}
.outro{
	height: 25rem;
	width: 100rem;
	display: table-cell;
	vertical-align: middle;
	position: relative;
    z-index: 2;
}
.outro p{
	width: 40%;
	margin: 0 auto;
}
.outro:before{
	display: block;
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-color: black;
	opacity: .3;
}
.far{
	font-size: 3rem;
}
.arrowUp{
	position: fixed;
	bottom: 5%;
	right: 3%;
	color: white;
	opacity: .2;
}
.far:hover{
	transition: 1s;
	font-size: 5rem;
}
.footer__information{
	color: white;
	padding-bottom: 0.5rem;
	font-family: 'Source Code Pro', monospace;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	text-align: center;
}
.footer__information:first-child{
	padding-top: 3rem;
	font-size: 1.3rem;
	font-weight: 700;
}